<h4 class="mt-5 ml-5 w-25 bg-light text-center">会員情報編集</h4>
<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @customer, url: customers_path, local: true do |f| %>
      <table class="table-borderless">
        <tr>
          <th>氏名</th>
          <td><%= f.text_field :last_name, :placeholder => '令和', :size => '25' %></td>
          <td><%= f.text_field :first_name, :placeholder => '道子', :size => '25' %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= f.text_field :last_name_kana, :placeholder => 'レイワ', :size => '25' %></td>
          <td><%= f.text_field :first_name_kana, :placeholder => 'ミチコ', :size => '25' %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= f.text_field :postal_code, :placeholder => '0000000', :size => '25' %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td colspan="2"><%= f.text_field :address, :placeholder => '東京都渋谷区代々木神園町0-0', :size => '58' %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= f.text_field :telephone_number, :placeholder => '00011112222', :size => '25' %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email, :placeholder => 'sample@example.com', :size => '25' %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit '変更内容を保存', class: 'btn btn-success my-4' %></td>
          <td><%= link_to '退会する', customers_unsubscribe_path, class: 'btn btn-danger my-4 offset-sm-1' %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>