<h4 class="mt-5 ml-5 w-25 bg-light text-center">配送先編集</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-12 px-sm-0 offset-sm-1">
      <%= form_with model: @address, url: address_path, local: true do |f| %>
      <table class="table-borderless">
        <tr>
          <th>郵便番号(ハイフンなし)</th>
          <td><%= f.text_field :postal_code, :placeholder => '0000000', :size => '25' %></td>
          <td></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= f.text_field :address, :placeholder => '東京都渋谷区代々木神園町0-0', :size => '50' %></td>
          <td></td>
        </tr>
        <tr>
          <th>宛名</th>
          <td><%= f.text_field :name, :placeholder => '令和道子', :size => '25' %></td>
          <td><%= f.submit '変更内容を保存', class: 'btn btn-success' %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>